.todo-list {
	z-index: 2;
	border-top: 1px dotted #adadad;

	&__toggle-all {
		position: absolute;
		top: 10px;
		left: -15px;
		width: 40px;
		text-align: center;
		border: none;
		outline: none;
		appearance: none;
		z-index: 2;

		&:before {
			content: '\BB';
			font-size: 28px;
			color: #d9d9d9;
			padding: 0 25px 7px;
		}

		&:checked:before {
			color: #737373;
		}
	}

	&__holder {
		margin: 0;
		padding: 0;
		list-style: none;
	}
}

label[for='toggle-all'] {
	display: none;
}